a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background: rgba(0, 0, 0, .1);
}

div#header {
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
    overflow: hidden;
    position: sticky;
}

#main-title {
    font-weight: bold;
}

#header a {
    transition: 1s;
    padding: 10px 20px;
    display: inline-block;
}
#header-right a:hover {
    text-shadow: 2px 2px 20px black;
    transform: scale(1.1);

    transition: 1s;
}

