a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background: rgba(0, 0, 0, .1);
}

div#header {
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
    position: sticky;
}

#main-title {
    font-weight: bold;
}

#header a {
    transition: 1s;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
}

#header-right a:hover {
    text-shadow: 2px 2px 20px black;
    transform: scale(1.1);

    transition: 1s;
}

#menu-title {
    display: inline-block;
    padding: 30px 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .4);
}

#child-ul {
    transition: 1s;
    display: none;
    position: absolute;
    left: 5px;
    z-index: 999;
    padding: 0;
}

#last-li:hover > #child-ul {
    display: block;
}

#last-li {
    position: relative;
}

#child-ul li {
    display: block;
    float: none;
}

#child-ul li a {
    padding: 10px 10px;
}

li {
    display: inline;
}